*{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Vista de productos ----------------------------------------------------------------------------------------------------- */
.principal{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 16px;
    padding: 24px;
    margin-bottom: 100px;
}
.prodCounter{
    grid-column-start: span 5;
    color: #777777;
}
.prodCounterValue{
    font-weight: 700;
    color: #525252;
}
.prodCounter::after{
    content:"";
    display: block;
    height: 1px;
    width: 100%;
    margin-top: 5px;
    background-color: #cfcfcf;
}

.containerProd{
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    border-radius: 9px;
    padding: 8px;
    justify-content: space-between;
    height: 500px;
}
.btnAddContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
}
.btnAdd{
    outline: none;
    border: none;
    color: white;
    background-color: #252525;
    width: 100%;
    border-radius: 5px;
    padding: 8px 0;
    font-weight: 700;
    font-size: .9rem;
    justify-self: end;
    cursor: pointer;
}
.btnAdd:hover{
    transform: scale(1.05);
}
.btnAdd:active{
    background-color: rgb(53, 100, 53)
}
.btnAdd.inCart{
    width: 45%;
    background-color: #252525;
    margin-right: 5px;
}

.btnAdd.inCart:active{
    background-color: rgb(53, 100, 53)
}
.containerProdCartInfo{
    display: none;
}
.containerProdCartInfo.active{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
/*  */
.prodQty{
    padding: 8px;
    font-size: 0.9rem;
    font-weight: 700;
}
.imgContainer{
    height: 65%;
}
.containerProd img{
    display: none;
}
.containerProd img.active{
    display: block;
    width: 100%;
    height: 80%;
    object-fit: contain;
}
.chevronContainer{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transform: translateY(-150px);
}
.slider{
    background: transparent;
    appearance: none;
    border: none;
    padding: 15px;
}

.slider i{
    font-size: 1rem;
}


.dotContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3px;
    margin: 5px 0;
}
.dotImg{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    border: 1px solid darkslateblue;
}
.dotImg.active{
    background-color: darkslateblue;
}
.priceProd {
    color: #252525;
    align-self:flex-end;
    margin: 16px 0;
    font-weight: 700;
}

.titleProd{
    font-weight: 300;
    color: #252525;
    letter-spacing: 1px;
    font-size: 1rem;
    height: 40px;
    margin-top: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* HEADER  -----------------------------------------------------------------------------------------------------*/

.header{
    width: 100%;
    padding: 16px 24px 16px 24px;
    display: flex;
    flex-direction: row;   
    align-items: center; 
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: #FFF;
}

.header .logo{
    width: 80px;
    height: 80px; 
    object-fit:fill;
    border-radius: 20px;
    
}

.separator-logo{
    height: 50px;
    width: 1px;
    background-color: #252525;
}
.logo-brand{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}
.brand{
    letter-spacing: 3px;
    font-size: 1.2rem;
}

/* Carrito ícono ----------------------------------------------------------------------------------------------------- */
.cart-container{
    position: relative;
    height: 50px;
    width: 50px;
    padding: 8px;
    border-radius: 50%;
    background-color: #252525;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.fa-cart-shopping{
    font-size: 1.4rem;
    color: #FFF;
    
}

.fa-cart-shopping.active::after{
    position: absolute;
    height: 20px;
    width: 20px;
    top: -4px;
    right: -7px;
    content: attr(data-after);
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #252525;
    border-radius: 50%;
    background-color: rgb(124, 221, 124);
}

/* MODAL CARRITO ----------------------------------------------------------------------------------------------------- */
.modal-cart{
    display: none;
}

.modal-cart.active{
    position: fixed;
    display: block;
    z-index: 5;
    background-color: #25252596;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 15;
}

.cart{
    position: absolute;
    height: 100vh;
    background-color: white;
    right: 0;
    z-index: 20;
    overflow-y: scroll;
}

.containerTitleCart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 16px 0 16px;
}

.closeBtnCart{
    outline: none;
    border: none;
    background-color: transparent;
    translate: 0 -20px;
}

.closeBtnCart i{
    font-size: 2rem;
    /* translate: 0 -20px; */
}

.titleCartSep{
    width: 50%;
    opacity: 50%;
}
.emptyContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #252525;
    margin-top: 80px;
}

.emptyContainer i {
    font-size: 7rem;
    color: #252525;
}

.emptyContainer span{
    font-size: 1.5rem;
    margin-top: 24px;
}

.cartContProds{
    display: flex;
    flex-direction: column;
    padding: 40px 8px;
    min-width: 720px;
}

/* .cartDetailTitle{
    color:green;
    margin: 16px 0;
} */

.cartHeading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 24px;
}
.cartProd{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 16px;
}
.cartProd:hover{
background-color: #25252510;
}

.cartProd-title{
    width: 30%;
}

.cartProd-qty{
    width: 35px;
}

.cartProd-price{
    width: 50px;
}

.cartTotal{
    display: flex;
    justify-content: space-between;
    font-weight: 900;
    padding: 16px;
}

.cartPay{
    margin-top: 32px;
    padding: 12px 0;
    border-radius: 5px;
    font-size: 1.0rem;
    color: white;
    background-color: #252525;
    border: none;
    outline: none;
    margin-left: 16px;
    margin-right: 16px;
}


.btnCartEmpty{
    margin-top: 8px;
    padding: 12px 0;
    font-size: .9rem;
    font-weight: 500;
    color: #252525;
    background-color: transparent;
    border: none;
    outline: none;
    margin-left: 16px;
    margin-right: 16px;
}

.deleteBtn {
    background-color: transparent;
    border: none;
    outline: none;
    width: 30px;
    height: 30px;
}

.fa-trash-can{
    /* padding: 24px; */
    font-size: 1.2rem;
}

.cartProdImg{
    height: 60px;
    width: 60px;
    border-radius: 5px;
    object-fit: contain;
}

/* BOTONES ----------------------------------------------------------------------------------------------------- */

.btnDisabled{
    color: lightgray;
    border: 1px solid lightgray;
}

.btnEnabled{
    color: #252525;
    background-color: rgb(116, 116, 216);
    /* border: none;
    outline: none; */
}

/* FILTROS ----------------------------------------------------------------------------------------------------- */


.category{
    margin-top: 186px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 24px;
    gap: 40px;

}

.category li {
    list-style: none;
    font-size: 1.4rem;
    cursor: pointer;
}

.category li.active {
    list-style: none;
    font-size: 1.4rem;
    color: darkslateblue;
    font-weight: 800;
    padding-bottom: 2px;
    border-bottom: 2px solid darkslateblue;
}

/* FOOTER ----------------------------------------------------------------------------------------------------- */

footer{
    background-color: #252525;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    color: rgb(236, 236, 236);
    width: 100%;
    position: relative;
    bottom: 0;
}
footer i{
    padding-right: 12px;
    color: rgb(160, 65, 65);
    font-size: 0,9rem;
}

/* SEARCH ----------------------------------------------------------------------------------------------------- */

.search{
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.search input{
    padding: 16px 8px;
    border: 1px solid rgb(207, 206, 206);
    border-right: 1px solid transparent;
    border-radius: 5px 0 0 5px;
    outline: none;
    width: 250px;
    transition: width .7s ease-in-out;
}
.search .searchBtn{
    background-color: #252525;
    outline: none;
    border: none;
    padding: 0 10px;
    border-radius: 0 5px 5px 0;
}

.search input:focus{
    border: 1px solid slateblue;
    border-right: none;
}
.search .fa-magnifying-glass{
    color: #FFF;
    font-weight: 700;
}

/* PAYMENT ----------------------------------------------------------------------------------------------------- */
.paymentContainer{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #25252596;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.paymentModal{
    width: 93%;
    max-width: 1000px;
    height: 90%;
    background-color: #FFF;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 20px 32px 40px 32px;
}
.sectionPay{
    width: 52%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.sectionCart{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}


.paymentCartProd{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 16px;
    font-size: 0.8rem;
}

.paymentCartProd-title{
    width: 30%;
}

.paymentCartTotal{
    display: flex;
    justify-content: space-between;
    font-weight: 900;
    padding: 16px;
    font-size: 1.3rem;
}


.paymentBtnCartEmpty{
    margin-top: 8px;
    padding: 12px 0;
    font-size: .9rem;
    font-weight: 500;
    color: #252525;
    background-color: transparent;
    border: none;
    outline: none;
    margin-left: 16px;
    margin-right: 16px;
}


.fa-trash-can{
    font-size: 1.0rem;
}

.paymentCartProdImg{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-size: cover;
}

.paymentDeleteBtn {
    background-color: transparent;
    border: none;
    outline: none;
    width: 30px;
    height: 30px;
}

.card {
    width: 330px;
    height: 200px;
    background-color: #252525;
    color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5px;
    padding: 0 16px 16px 32px ;
}
.card .cardNum{
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 16px;
}

.card .cardName{
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 8px;
}
.card .cardExp{
    font-size: 0.8rem;
}
.card .cardBrand{
    align-self: flex-end;
}

.containerForm{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3px;
    width: 95%;
}

.containerForm label{
    background-color: #FFF;
    color: #525252;
    font-size: 1rem;
    margin-top: 16px;
}

.formExpErrorMsg{
    color: red;
    font-size: 0.7rem;
    display: none;
    margin-top: 5px;
}
.btnFinalPay{
    margin-top: 24px;
    border: none;
    outline: none;
    padding: 8px 0;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 5px;
    color: #FFF;
    background-color: #252525;
    letter-spacing: 1px;
    cursor: pointer;
      
}

.btnFinalPay.disabled{
    color: #e4e1e1;
    background-color: #858383;
    cursor:not-allowed;
}

.btnFinalPay.paid{
    background-color: rgb(53, 100, 53);
    transition: background-color 1s ease-in-out;
}


.containerForm input{
    padding: 5px;
    margin-top: 3px;
}
.cardBottomSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 45px;
}
.cardBrand{
    visibility: hidden;
    height: 45px;
    width: 73px;  
    align-self: center; 
    opacity: .8;
}
.cardBrand.visa{
    height: 29px;
    width: 89px;
}
.formNumErrorMsg{
    color: red;
    font-size: 0.7rem;
    display: none;
    margin-top: 5px;
}

.divPaymentContainer{
    width: 1px;
    height: 80%;
    background-color: rgb(218, 216, 216);
}

.cartPaymentTitle{
    margin-bottom: 25px;
}

.paymentTotalSep{
    width: 80%;
    align-self: center;
    height: 1px;
    opacity: 50%;
    margin-bottom: 16px;
}

.sectionPayTitle{
    margin-top: 32px;
    margin-bottom: 25px;
    align-self: flex-start;
}
.cartPaymentCloseBtn{
    outline: none;
    border: none;
    background-color: transparent;
    transform: translateX(-40px);
    align-self: end;
}

.cartPaymentCloseBtn i{
    font-size: 2rem;
}

.btnMinusCart .fa-minus, .btnPlusCart .fa-plus{
    padding: 5px;
    border: 1px solid darkslateblue;
    border-radius: 50%;
}

.btnMinusCart .fa-minus:active{
    background-color: rgb(141, 52, 67);
    color: white;
    border-color: white;
}

.btnPlusCart .fa-plus:active{
    background-color: rgb(53, 100, 53);
    color: white;
    border-color: white;
}

.btnMinusCart, .btnPlusCart{
    background: transparent;
    border: none;
    outline: none;
    
}

.containerQtyCart{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
.btnMinus .fa-minus:active{
    background-color: rgb(141, 52, 67);
    color: white;
    border-color: white; 
}

.btnPlus .fa-plus:active{
    background-color: rgb(53, 100, 53);
    color: white;
    border-color: white;
}

.btnMinus .fa-minus, .btnPlus .fa-plus{
    padding: 5px;
    border: 1px solid darkslateblue;
    border-radius: 50%;
    font-size: 0.9rem;
}

.btnMinus, .btnPlus{
    background: transparent;
    border: none;
    outline: none;
}